name: CI

on:
  push:
    branches:
      - main
      - master
      - add/ci-rspec
  pull_request:
    branches:
      - main
      - master
      - add/ci-rspec

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.3.10
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      
      - name: Install dependencies
        run: |
          if [ -f Gemfile ]; then
            bundle install
          fi
      
      - name: Run RSpec tests
        run: bundle exec rspec
      
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report-ruby-${{ matrix.ruby }}
          path: coverage/
